body {
  margin: 0px;
}

.page-1 {
  min-height: 908px;
  display: block;
  background-image: linear-gradient(
    140deg,
    rgba(91, 72, 58, 1),
    rgba(38, 36, 37, 1)
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
span {
  font-family: Georgia;
  font-weight: 400;
  text-align: left;
}

p,
li,
a {
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;

}

.header-title {
  margin-bottom: 0;
  color: rgba(241, 205, 179, 1);
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.subtitle {
  margin-top: 0;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.1em;
  font-size: 13px;

}

ul {
  display: flex;
  list-style-type: none;
  gap: 35px;
}

li a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all 0.5s;
  line-height: 160%;
  font-size: 15px;
}

li a:hover {
  border-bottom: 2px solid rgba(241, 205, 179, 1);
  transition: all 0.2s;
}
.active {
  border-bottom: 2px solid rgba(241, 205, 179, 1);
  transition: all 0.2s;
}

.info {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15.1rem;
}

h2.info-title {
  color: rgba(255, 255, 255, 1);
  font-size: 44px;
  margin-bottom: 42px;
  line-height: 130%;
}

p.info-main {
  color: rgba(205, 205, 205, 1);
  margin-bottom: 42px;
  line-height: 160%;
  font-size: 15px;
}

.puppy {
  position: relative;
  bottom: 9.7rem;
}

.make-a-friend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  background-color: rgba(241, 205, 179, 1);
  border: none;
  border-radius: 26px;
  transition: all 2s;
  cursor: pointer;
  width: 207px;
  height: 52px;
}

span {
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: left;
}

.make-a-friend:hover {
  background-color: #fff;
  transition: all 0.5s;
  border: 2px solid;
  border-color: #F1CDB3;
  cursor: pointer;
}

.page-2 {
  background-color:#fff;
  min-height: 588px;
}

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  top: 4.5rem;
}

.about-info {
  display: flex; 
  flex-direction: column;
  gap: 25px;
}

.about-info h3 {
  font-family: Georgia;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  margin-bottom: 0;
}

.about-info p {
  font-size: 15px; 
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 0;
}

.about-info p:last-of-type {
  margin-bottom: 14px;
}

.page-3 {
  background-color: rgba(246, 246, 246, 1);
  min-height: 877px;
}

.page-3-header {
  color: rgba(84, 84, 84, 1);
  font-size: 35px;
  position: relative;
  top: 4.5rem;
  text-align: center;
  letter-spacing: 0.06em;
}

.carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 4rem;
}

.arrow {
  border: 2px solid rgba(241, 205, 179, 1);
  width: 50px;
  height: 50px;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 50%;
}

.arrow:hover {
  background-color: rgba(241, 205, 179, 1);
  transition: all 0.5s;
  border: none;
  cursor: pointer; 
}

.cards-list {
  gap: 90px;
  position: relative;
  right: 1.25rem;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(250, 250, 250, 1);
  width: 270px;
  height: 435px;
}

.card h4 {
  text-align: center;
  font-family: Georgia;
  letter-spacing: 0.06em;
  font-size: 20px;
  font-weight: normal;
}

.learn {
  border: 2px solid rgba(241, 205, 179, 1);
  width: 187px;
  height: 52px; 
  border-radius: 26px;
  background-color: rgba(250, 250, 250, 1);
}

.learn:hover {
  background-color: rgba(241, 205, 179, 1);
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.more-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 261px; 
  height: 52px;
  background-color: rgba(241, 205, 179, 1);
  border-radius: 26px;
  border: none;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.more-info:hover {
  background-color: #fff;
  transition: all 0.5s;
  border: 2px solid;
  border-color: #F1CDB3;
  cursor: pointer;
}